body {
    min-height: 100vh;
    background: beige;
}

html {
    height: 100%;
}

h1 {
    text-align: center;
    color: gray;
    background-color: bisque;
    font-family: fantasy;
    font-size: 300%;
}

h3 {
    text-align: center;
    font-style: oblique;
    color: black;
    opacity: 0.75
}

#ab, #services, #apply, #quote {
    color: pink;
}

#quote {
    padding-top: 100px;
}

#Josie {
    text-align: right;
}

#j-bio {
    display: block;
    width: 400px;
    float: right;
    padding: 30px;
    background-color: aqua;
}

#e-bio {
    text-align: left;
    width: 400px;
    display: block;
    background-color:brown;
}

#intro {
    width: 900px;
    display: block;
    text-align: left;
    background-color: pink;
    font-size: 120%
}

#services {
    padding-top: 220px;
    text-align: left;
}

#serving {
    display: block;
    width: 450px;
    font-size: 110%;
}

.application {
    text-align: center;
}

#apply {
    text-align: center;
    padding-top: 100px;
}

#applyDescript {
    text-align: center;
}

#app {
    text-align: center;
}

img#boat {
    margin-left: 50px;
    margin-right: 200px;
    margin-bottom: 50px;
}

img#mo-beach {
    margin-right: 200px;
    margin-bottom: 50px;
}

img#kiss-mat {
    margin-left: 150px;
    margin-right: 100px;
    margin-bottom: 50px;
}

img#spy {
    margin-left: 200px;
    margin-right: 300px;
    margin-bottom: 50px;
}

img#hat {
    margin-right: 300px;
    margin-bottom: 50px;
}

img#flower-mat {
    margin-left: 50px;
}

img#bath {
    margin-left: 50px;
    margin-right: 400px;
}

div.pet-pics {
    padding-top: 100px;
    background-color: lightblue;
    max-height: auto;
};

