body {
    min-height: 100vh;
    background: beige;
}

html {
    height: 100%;
}

h1 {
    text-align: center;
    color: gray;
    background-color: bisque;
    font-family: fantasy;
    font-size: 300%;
}

h3 {
    text-align: center;
    font-style: oblique;
    color: black;
    opacity: 0.75
}

#ab, #services, #apply, #quote {
    color: pink;
}

#Josie {
    text-align: right;
}

#j-bio {
    display: block;
    width: 400px;
    float: right;
    padding: 30px;
    background-color: aqua;
}

#e-bio {
    text-align: left;
    width: 400px;
    display: block;
    background-color:brown;
}

#intro {
    width: 900px;
    display: block;
    text-align: left;
    background-color: pink;
    font-size: 120%
}

#services {
    padding-top: 220px;
    text-align: left;
}

#serving {
    display: block;
    width: 450px;
    font-size: 110%;
}

.pals {
    padding-left: 150px;
    padding-top: 30px;
}

.time {
    padding-left: 300px;
    padding-top: 30px;
}

.application {
    text-align: right;
}

.submit1 {
    text-align: right;
}

#apply {
    text-align: right;
    padding-top: 100px;
}

#applyDescript {
    text-align: right;
}

#app {
    text-align: right;
}